<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <title>我是一个首页</title>
    <style>
        /*头部*/
        .ksd-headerbox{
            height: 200px;text-align: center;
            background: url("/images/bannerb.jpeg") #FAFAFA;
            background-repeat: initial;
            color: white;
        }
        .ksd-headerbox .ksd-cheader-box{max-width: 680px;margin: 0 auto;text-align: center;padding-top: 20px;}
    </style>
</head>
<body>
    <!-- 头部 -->
    <header>

        <div class="ksd-headerbox">
            <div class="ksd-cheader-box">
                <h3 class="fsz28 pt20">2021年度4月学相伴计数反馈统计排行榜</h3>
                <p class="pt15">layui（谐音：类 UI) 是一套开源的 Web UI 解决方案，采用自身经典的模块化规范，并遵循原生 HTML/CSS/JS 的开发方式，极易上手，拿来即用。其风格简约轻盈，而组件优雅丰盈，从源代码到使用方法的每一处细节都经过精心雕琢，非常适合网页界面的快速开发。layui 区别于那些基于 MVVM 底层的前端框架，却并非逆道而行，而是信奉返璞归真之道。准确地说，它更多是面向后端开发者，你无需涉足前端各种工具，只需面对浏览器本身，让一切你所需要的元素与交互，从这里信手拈来。</p>
                <div class="pt10">
                    <span>参与人数:50</span>
                    <span>统计时间：y/m/d hh:mm　　[[${id}]]</span>
                </div>
            </div>
        </div>
    </header>
    <!-- 主题内容 -->
    <section>
        <style>
            .ksd-container{padding-top: 30px;}
        </style>
          <div class="layui-container ksd-container">
              <div class="layui-row" style="text-align: center">
                  <div  id="box" style="width: 100%;height:400px">

                  </div>
              </div>
          </div>
    </section>
    <!-- 底部 -->
    <footer>
        <div class="layui-container ksd-container">
            <div class="layui-row">
                <div class="layui-col-md12 tc">
                    <p class="b fsz20">统计还剩余：０天8小时25分钟</p>
                </div>
            </div>
        </div>
    </footer>

<script src="/js/vue.min.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/echarts.min.js"></script>
<script>
    const chartDom = document.getElementById('box');
    var myChart = echarts.init(chartDom);
    var option;

    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '直接访问',
                type: 'bar',
                barWidth: '60%',
                data: [10, 52, 200, 334, 390, 330, 220]
            }
        ]
    };

    option && myChart.setOption(option);
</script>
</body>
</html>