<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <title>我是一个首页</title>
    <style>
        /*头部*/
        .ksd-headerbox{
            height: 200px;text-align: center;
            background: url("/images/bannerb.jpeg") #FAFAFA;
            background-repeat: initial;
            color: white;
        }
        .ksd-headerbox .ksd-cheader-box{max-width: 680px;margin: 0 auto;text-align: center;padding-top: 20px;}
    </style>
</head>
<body>
    <div id="app">

        <!-- 头部 -->
        <header>

            <div class="ksd-headerbox">
                <div class="ksd-cheader-box">
                    <h3 class="fsz28 pt20">{{stateVo.title}}</h3>
                    <p class="pt15" v-html="stateVo.description"></p>
                    <div class="pt10">
                        <span>参与人数: {{stateVo.personnum}}</span>
                        <span>统计时间：{{stateVo.createTime}}</span>
                    </div>
                </div>
            </div>
        </header>
        <!-- 主题内容 -->
        <section>
            <style>
                .ksd-container{padding-top: 30px;}
            </style>
              <div class="layui-container ksd-container">
                  <div class="layui-row" style="text-align: center">
                      <div  id="box" style="width: 100%;height:400px">
                      </div>
                  </div>
              </div>
        </section>
        <!-- 底部 -->
        <footer>
            <div class="layui-container ksd-container">
                <div class="layui-row">
                    <div class="layui-col-md12 tc">
                        <p class="b fsz20">统计还剩余：{{stateVo.endtime}}</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
<script src="/js/vue.min.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/echarts.min.js"></script>
<script src="/js/axios.min.js"></script>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            stateVo:{}
        },
        created:function(){
            let that = this;
            this.loadStateDetails(function(stateDetailList){
                that.loadCharts(stateDetailList);
            });
        },

        methods:{
            loadStateDetails(callback){
                const that = this;
                axios.get('/state/detail?stateId=1').then(function(response){
                    that.stateVo = response.data.data.stateVo;
                    callback && callback(response.data.data.stateVo.stateDetailList);
                });


                // 以下方式会出现this指针偏移的问题
                // axios.get('/state/detail?stateId=1').then(function(response){
                //     this.stateVo = response.data.data;
                // });
                // 以下方法可以解决this的指向问题
                // axios.get('/state/detail?stateId=1').then(response=>{
                //     this.stateVo = response.data.data;
                // });
            },
            loadCharts(stateDetailList){
                if(stateDetailList && stateDetailList.length === 0)return;
                let xAxisDataList = [];
                let seriesDataList = [];

                for (let i = 0; i < stateDetailList.length; i++) {
                    xAxisDataList.push(stateDetailList[i].title);
                    seriesDataList.push(stateDetailList[i].itemnum);
                }
                const chartDom = document.getElementById('box');
                let myChart = echarts.init(chartDom);
                let option;

                option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: xAxisDataList,
                            axisTick: {
                                alignWithLabel: true
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    series: [
                        {
                            name: '选择人数',
                            type: 'bar',
                            barWidth: '60%',
                            data: seriesDataList
                        }
                    ]
                };

                myChart.setOption(option);
            }
        }
    });
</script>
</body>
</html>